.profile-container ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
	list-style: none;
}

.profile-container ul li {
	background: #fff;
	padding: 24px;
	border-radius: 8px;
	position: relative;
}